div ng-if="$ctrl.providers.length"
  map center="37.7833,-122.4167" max-zoom="16" min-zoom="6" zoom-control="true" zoom-control-options="{position:'TOP_LEFT'}" zoom="10" disable-default-u-i="true"
    marker ng-repeat="provider in $ctrl.providers track by $index" on-click="$ctrl.openInfoWindow(provider, map)" id="custom-marker-{{provider.providerId}}" position="{{provider.position}}" icon="{{provider.icon}}" optimized="false" events="{{provider.events}}"
