button class="left" ng-click="$ctrl.prevPage()" ng-disabled="$ctrl.data.currentPageNum == 0"
  i class="fa fa-chevron-left"

button class="right" ng-click="$ctrl.nextPage()" ng-disabled="$ctrl.data.currentPageNum == $ctrl.data.maxPageNum"
  i class="fa fa-chevron-right"
