<p>
  <b>Child Care Resource and Referral Team</b><br>
  <b>Children's Council of San Francisco</b><br>
  445 Church Street, San Francisco, CA 94114<br>
  415.343.3300 | Visit us at <a href="http://www.childrenscouncil.org">childrenscouncil.org</a>
</p>
