

<!DOCTYPE HTML>
<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<title>Children&#039;s Council San Francisco | Search Providers</title>

<link rel="stylesheet" href="http://ccsf.wpengine.com/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector.css?v=3.1.5" type="text/css" media="all" />
		<meta charset="UTF-8" />
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Remove if you're not building a responsive site. (But then why would you do such a thing?) -->
		<link rel="pingback" href="http://ccsf.wpengine.com/xmlrpc.php" />


		<!-- ICONS -->
		<link rel="shortcut icon"  href="http://ccsf.wpengine.com/wp-content/themes/CCSF/favicon.ico"/>
		<link rel="apple-touch-icon" sizes="57x57" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/datacenter-57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/datacenter-72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/datacenter-114.png" />


		<!-- FONTS -->
		<link rel="stylesheet" type="text/css" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/webfonts/ss-social-circle.css" />
		<link rel="stylesheet" type="text/css" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/webfonts/ss-standard.css" />

		<link href="//cloud.webtype.com/css/ca145db0-dbb3-45ed-adaf-9ea27459ecab.css" rel="stylesheet" type="text/css" />

		<!-- FOUNDATION -->
		<link rel="stylesheet" type="text/css" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/css/foundation.css" />
		<link rel="stylesheet" type="text/css" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/css/foundation-additions.css" />





		<!-- SCRIPTS -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ccsf.wpengine.com/wp-content/themes/CCSF/js/foundation/foundation.js"></script>
		<script type="text/javascript" src="http://ccsf.wpengine.com/wp-content/themes/CCSF/js/foundation/foundation.slider.js"></script>
		<script src="http://malsup.github.com/jquery.cycle2.js"></script>


		<!-- WP HEAD -->
				<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/ccsf.wpengine.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
			!function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='jquery.fancybox-1.3.4-css'  href='http://ccsf.wpengine.com/wp-content/plugins/iframe-popup/inc/jquery.fancybox-1.3.4.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='collapseomatic-css-css'  href='http://ccsf.wpengine.com/wp-content/plugins/jquery-collapse-o-matic/light_style.css?ver=1.6' type='text/css' media='all' />
<link rel='stylesheet' id='et-gf-open-sans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' type='text/css' media='all' />
<link rel='stylesheet' id='et_monarch-css-css'  href='http://ccsf.wpengine.com/wp-content/plugins/monarch/css/style.css?ver=1.2.5' type='text/css' media='all' />
<link rel='stylesheet' id='screen-css'  href='http://ccsf.wpengine.com/wp-content/themes/CCSF/style.css?ver=4.4.2' type='text/css' media='screen' />
<link rel='stylesheet' id='colorbox-css'  href='http://ccsf.wpengine.com/wp-content/plugins/slideshow-gallery/views/default/css/colorbox.css?ver=1.3.19' type='text/css' media='all' />
<link rel='stylesheet' id='slideshow-font-css'  href='http://ccsf.wpengine.com/wp-content/plugins/slideshow-gallery/views/default/css/font.css' type='text/css' media='all' />
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/plugins/iframe-popup/inc/jquery.fancybox-1.3.4.js?ver=4.4.2'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/themes/CCSF/js/site.js?ver=4.4.2'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/plugins/advanced-iframe/js/ai.js?ver=463890'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/plugins/slideshow-gallery/views/default/js/gallery.js?ver=1.0'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/plugins/slideshow-gallery/views/default/js/colorbox.js?ver=1.3.19'></script>
<link rel='https://api.w.org/' href='http://ccsf.wpengine.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ccsf.wpengine.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ccsf.wpengine.com/wp-includes/wlwmanifest.xml" />
<link rel='shortlink' href='http://ccsf.wpengine.com/?p=4890' />
<link rel="alternate" type="application/json+oembed" href="http://ccsf.wpengine.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fccsf.wpengine.com%2Fsearch-providers%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://ccsf.wpengine.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fccsf.wpengine.com%2Fsearch-providers%2F&#038;format=xml" />
<style type="text/css" id="et-social-custom-css">

			</style><meta name="generator" content="WPML ver:3.1.5 stt:1,63,2;0" />

<style type="text/css">
</style>



			<!--[if lte IE 8 ]>
				<link rel="stylesheet" type="text/css" href="http://ccsf.wpengine.com/wp-content/themes/CCSF/css/ie8.css" />
				<script type="text/javascript" src="http://ccsf.wpengine.com/wp-content/themes/CCSF/js/site-ie.js"></script>
			<![endif]-->

			<!--[if lt IE 9 ]>
				<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
				<script type="text/javascript" src="http://ccsf.wpengine.com/wp-content/themes/CCSF/js/modernizr.js"></script>
				<script type="text/javascript" src="http://ccsf.wpengine.com/wp-content/themes/CCSF/js/respond.src.js"></script>
			<![endif]-->



	</head>
	<body class="page page-id-4890 page-template page-template-template-search page-template-template-search-php et_monarch search-providers en">
<header >
	<div id="search" class="row">
		<div class="large-6 columns">
			<form method="get" id="searchform" action="http://ccsf.wpengine.com">
<div>
<label for="s">Search</label> <input class="text" type="text" value="" name="s" id="s" />
<input type="submit" class="submit" name="Submit" value="&#x25BB;" />
</div>
</form>		</div>
	</div>

	<nav class="row">
		<div class="large-12 small-6 columns show-for-medium-up medium-push-6 large-reset-order secondary-nav">

			<p class="search-button ss-standard ss-icon"><a>Search</a></p>
			<ul id="menu-language" class="menu"><li class="menu-item menu-item-language menu-item-language-current"><a href="#" onclick="return false">English</a></li></ul>			<ul id="menu-donate-button" class="menu"><li id="nav-donate"><a href="https://giveto.childrenscouncil.org/ready4school" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'https://giveto.childrenscouncil.org/ready4school', 'Donate']);" >Donate</a></li>
</ul>			<p class="ss-social-circle ss-icon" style="text-align: center; float: right; margin-left: 10px; padding-left: 10px; border-left: 2px dotted #cdccbd; font-size: 18px; line-height: 22px;"><span style="font-size: 10px;">FOLLOW</span><br>
				<a href="https://www.facebook.com/childrenscouncil" target="_blank">Facebook</a>				<a href="https://twitter.com/childcaresf" target="_blank">Twitter</a>							</p>

		</div>

		<div class="large-4 medium-5 small-12 columns medium-pull-6 large-reset-order">
			<h1><a href="http://ccsf.wpengine.com"><img src="http://ccsf.wpengine.com/wp-content/uploads/2014/08/ccsf_logo_web.png" alt="Children&#039;s Council San Francisco"/></a></h1>
		</div>
		<div class="small-5 columns show-for-small-only">
			<p class="menu button"><a class="ss-standard ss-rows"> Menu</a></p>
		</div>
		<div class="small-7 columns show-for-small-only secondary-nav">
			<ul id="menu-language-1" class="menu"><li class="menu-item menu-item-language menu-item-language-current"><a href="#" onclick="return false">English</a></li></ul>		</div>

		<div class="show-mobile">
			<div class="large-8 medium-12 small-12 columns">

				<ul id="menu-main" class="menu"><li id="nav-forfamilies"><a href="http://ccsf.wpengine.com/families/">For Families</a>
<ul class="sub-menu">
	<li id="nav-overview"><a href="http://ccsf.wpengine.com/families/overview/">Overview</a></li>
	<li id="nav-findchildcare"><a href="http://ccsf.wpengine.com/families/find-child-care/">Find Child Care</a>
	<ul class="sub-menu">
		<li id="nav-typesofchildcare"><a href="http://ccsf.wpengine.com/families/find-child-care/types-of-child-care/">Types of Child Care</a></li>
		<li id="nav-childcarereferrals"><a href="http://ccsf.wpengine.com/families/find-child-care/child-care-referrals/">Child Care Referrals</a></li>
		<li id="nav-childcarecosts"><a href="http://ccsf.wpengine.com/families/find-child-care/child-care-costs/">Child Care Costs</a></li>
		<li id="nav-childcarechecklist"><a href="http://ccsf.wpengine.com/families/find-child-care/child-care-search-toolkit/">Child Care Checklist</a></li>
		<li id="nav-afterschoolandsummer"><a href="http://ccsf.wpengine.com/families/find-child-care/afterschool-and-summer/">Afterschool and Summer</a></li>
		<li id="nav-childrenwithspecialneeds"><a href="http://ccsf.wpengine.com/families/find-child-care/children-with-special-needs/">Children with Special Needs</a></li>
	</ul>
</li>
	<li id="nav-helppayingforchildcare"><a href="http://ccsf.wpengine.com/families/help-paying-for-child-care/">Help Paying for Child Care</a>
	<ul class="sub-menu">
		<li id="nav-typesoffinancialassistance"><a href="http://ccsf.wpengine.com/families/help-paying-for-child-care/financial-assistance/">Types of Financial Assistance</a></li>
	</ul>
</li>
	<li id="nav-attendaworkshop"><a href="http://ccsf.wpengine.com/families/workshops/">Attend a Workshop</a></li>
	<li id="nav-familyresources"><a href="http://ccsf.wpengine.com/families/family-resources/">Family Resources</a>
	<ul class="sub-menu">
		<li id="nav-borrowtoysbooks"><a href="http://ccsf.wpengine.com/families/family-resources/borrow-toys-books/">Borrow Toys &#038; Books</a></li>
	</ul>
</li>
</ul>
</li>
<li id="nav-forchildcareproviders"><a href="http://ccsf.wpengine.com/for-child-care-providers/">For Child Care Providers</a>
<ul class="sub-menu">
	<li id="nav-overview"><a href="http://ccsf.wpengine.com/for-child-care-providers/overview/">Overview</a></li>
	<li id="nav-startorgrowyourbusiness"><a href="http://ccsf.wpengine.com/for-child-care-providers/start-a-business/">Start or Grow Your Business</a>
	<ul class="sub-menu">
		<li id="nav-licensingrequirements"><a href="http://ccsf.wpengine.com/for-child-care-providers/start-a-business/licensing-requirements/">Licensing Requirements</a></li>
		<li id="nav-workforceregistry"><a href="http://ccsf.wpengine.com/for-child-care-providers/start-a-business/workforce-registry/">Workforce Registry</a></li>
	</ul>
</li>
	<li id="nav-childcarereferraldatabase"><a href="http://ccsf.wpengine.com/for-child-care-providers/our-referral-database/">Child Care Referral Database</a></li>
	<li id="nav-qualitysupporttraining"><a href="http://ccsf.wpengine.com/for-child-care-providers/training-support-services/">Quality Support &#038; Training</a>
	<ul class="sub-menu">
		<li id="nav-professionaldevelopment"><a href="http://ccsf.wpengine.com/for-child-care-providers/training-support-services/professional-development/">Professional Development</a></li>
		<li id="nav-familychildcarequalitynetwork"><a href="http://ccsf.wpengine.com/for-child-care-providers/training-support-services/family-child-care-quality-network/">Family Child Care Quality Network</a></li>
		<li id="nav-wagesupport"><a href="http://ccsf.wpengine.com/for-child-care-providers/training-support-services/wage-support/">Wage Support</a></li>
	</ul>
</li>
	<li id="nav-healthnutrition"><a href="http://ccsf.wpengine.com/for-child-care-providers/health-nutrition/">Health &#038; Nutrition</a>
	<ul class="sub-menu">
		<li id="nav-childcarefoodprogram"><a href="http://ccsf.wpengine.com/for-child-care-providers/health-nutrition/child-care-food-program/">Child Care Food Program</a></li>
		<li id="nav-healthyappleprogram"><a href="http://ccsf.wpengine.com/for-child-care-providers/health-nutrition/healthy-apple/">Healthy Apple Program</a></li>
		<li id="nav-growinghealthykids"><a href="http://ccsf.wpengine.com/for-child-care-providers/health-nutrition/growing-healthy-kids/">Growing Healthy Kids!</a></li>
	</ul>
</li>
	<li id="nav-attendaworkshop"><a href="http://ccsf.wpengine.com/for-child-care-providers/workshops/">Attend a Workshop</a></li>
	<li id="nav-subsidyproviderpayments"><a href="http://ccsf.wpengine.com/for-child-care-providers/subsidy-provider-payments/">Subsidy Provider Payments</a></li>
	<li id="nav-providerresources"><a href="http://ccsf.wpengine.com/for-child-care-providers/other-provider-resources/">Provider Resources</a>
	<ul class="sub-menu">
		<li id="nav-borrowtoysbooks"><a href="http://ccsf.wpengine.com/for-child-care-providers/other-provider-resources/borrow-toys-books/">Borrow Toys &#038; Books</a></li>
	</ul>
</li>
</ul>
</li>
<li id="nav-whychildcarematters"><a href="http://ccsf.wpengine.com/why-child-care-matters/">Why Child Care Matters</a>
<ul class="sub-menu">
	<li id="nav-overview"><a href="http://ccsf.wpengine.com/why-child-care-matters/overview/">Overview</a></li>
	<li id="nav-ourstories"><a href="http://ccsf.wpengine.com/why-child-care-matters/our-stories/">Our Stories</a>
	<ul class="sub-menu">
		<li id="nav-families"><a href="http://ccsf.wpengine.com/why-child-care-matters/our-stories/parents/">Families</a></li>
		<li id="nav-childcareproviders"><a href="http://ccsf.wpengine.com/why-child-care-matters/our-stories/providers/">Child Care Providers</a></li>
	</ul>
</li>
	<li id="nav-parentadvocacy"><a href="http://ccsf.wpengine.com/why-child-care-matters/parent-advocacy/">Parent Advocacy</a></li>
	<li id="nav-childcareinthenews"><a href="http://ccsf.wpengine.com/why-child-care-matters/child-care-in-the-news/">Child Care in the News</a></li>
	<li id="nav-ourblog"><a href="http://ccsf.wpengine.com/why-child-care-matters/our-blog/">Our Blog</a></li>
	<li id="nav-childrensnewsarchive"><a href="http://ccsf.wpengine.com/why-child-care-matters/childrens-news-archive/">Children&#8217;s News Archive</a></li>
</ul>
</li>
<li id="nav-supportus"><a href="http://ccsf.wpengine.com/support-us/">Support Us</a>
<ul class="sub-menu">
	<li id="nav-makeadonation"><a href="http://ccsf.wpengine.com/support-us/make-a-donation/">Make A Donation</a></li>
	<li id="nav-waysofgiving"><a href="http://ccsf.wpengine.com/support-us/ways-of-giving/">Ways of Giving</a></li>
	<li id="nav-ourimpact"><a href="http://ccsf.wpengine.com/support-us/our-impact/">Our Impact</a></li>
	<li id="nav-oursupporters"><a href="http://ccsf.wpengine.com/support-us/our-supporters/">Our Supporters</a>
	<ul class="sub-menu">
		<li id="nav-foundationsandbusiness"><a href="http://ccsf.wpengine.com/support-us/our-supporters/foundations-and-business/">Foundations and Business</a></li>
		<li id="nav-individuals"><a href="http://ccsf.wpengine.com/support-us/our-supporters/individualdonors/">Individuals</a></li>
		<li id="nav-inkind"><a href="http://ccsf.wpengine.com/support-us/our-supporters/in-kind/">In-Kind</a></li>
	</ul>
</li>
</ul>
</li>
<li id="nav-aboutus"><a href="http://ccsf.wpengine.com/about-us/">About Us</a>
<ul class="sub-menu">
	<li id="nav-overview"><a href="http://ccsf.wpengine.com/about-us/overview/">Overview</a>
	<ul class="sub-menu">
		<li id="nav-missionvalues"><a href="http://ccsf.wpengine.com/about-us/overview/mission/">Mission &#038; Values</a></li>
		<li id="nav-visionstrategy"><a href="http://ccsf.wpengine.com/about-us/overview/values/">Vision &#038; Strategy</a></li>
		<li id="nav-annualreport2014"><a href="http://ccsf.wpengine.com/about-us/overview/annual-report-2014/">Annual Report 2014</a></li>
		<li id="nav-annualreport2015"><a href="http://ccsf.wpengine.com/about-us/overview/annual-report-2015/">Annual Report 2015</a></li>
	</ul>
</li>
	<li id="nav-boardofdirectors"><a href="http://ccsf.wpengine.com/about-us/board-of-directors/">Board of Directors</a>
	<ul class="sub-menu">
		<li id="nav-boardserviceoverview"><a href="http://ccsf.wpengine.com/about-us/board-of-directors/board-service-overview/">Board Service Overview</a></li>
	</ul>
</li>
	<li id="nav-executiveteam"><a href="http://ccsf.wpengine.com/about-us/our-team/">Executive Team</a>
	<ul class="sub-menu">
		<li id="nav-programleadership"><a href="http://ccsf.wpengine.com/about-us/our-team/program-managers/">Program Leadership</a></li>
	</ul>
</li>
	<li id="nav-ourpartners"><a href="http://ccsf.wpengine.com/about-us/our-partners/">Our Partners</a></li>
	<li id="nav-employmentopportunities"><a href="http://ccsf.wpengine.com/about-us/employment-opportunities/">Employment Opportunities</a></li>
	<li id="nav-publicinformation"><a href="http://ccsf.wpengine.com/about-us/public-information/">Public Information</a>
	<ul class="sub-menu">
		<li id="nav-sunshineordinance"><a href="http://ccsf.wpengine.com/about-us/public-information/sunshine-ordinance/">Sunshine Ordinance</a></li>
		<li id="nav-howwepreventfraud"><a href="http://ccsf.wpengine.com/about-us/public-information/how-we-prevent-fraud/">How We Prevent Fraud</a></li>
	</ul>
</li>
	<li id="nav-contactus"><a href="http://ccsf.wpengine.com/about-us/contact-us/">Contact Us</a></li>
</ul>
</li>
<li id="nav-donate"><a href="https://giveto.childrenscouncil.org/ready4school" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'https://giveto.childrenscouncil.org/ready4school', 'Donate']);" >Donate</a></li>
</ul>
			</div>
			<div class="small-12 columns show-for-small-only">

				<div> <form method="get" id="searchform" action="http://ccsf.wpengine.com">
<div>
<label for="s">Search</label> <input class="text" type="text" value="" name="s" id="s" />
<input type="submit" class="submit" name="Submit" value="&#x25BB;" />
</div>
</form></div>

				<ul id="menu-donate-button-1" class="menu"><li id="nav-donate"><a href="https://giveto.childrenscouncil.org/ready4school" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'https://giveto.childrenscouncil.org/ready4school', 'Donate']);" >Donate</a></li>
</ul>
			</div>
		</div>

	</nav>
</header>

<section class="banner-image">
	<div class="row">
		<div class="large-12 columns">
			<img src="#" alt="#" />
		</div>
	</div>
</section>

<section class="content row" id="search-page">











			<base href="/" />
	    <%= javascript_include_tag 'application' %>
	    <div ng-app="CCR"><div ui-view=""></div></div>
			<%= render partial: "javascript_data_object" %>









</section>

<footer>
	<div class="row">





		<div class="large-4 large-push-4 medium-6  columns">
						 	<p class="button"><a href="http://ccsf.wpengine.com/about-us/contact-us/"><span>Contact</span> an Expert</a></p>
						 	<p class="button"><a href="http://ccsf.wpengine.com/families/workshops/"><span>Find</span> a Workshop</a></p>
					</div>

		<div class="large-4 large-push-4 medium-6  columns">
			<h2><span>Subscribe</span> to our Email Newsletter</h2>
			<form method="post" action="http://visitor.r20.constantcontact.com/d.jsp">
	<input name="llr" type="hidden" value="4kp54mhab" />
	<input name="m" type="hidden" value="1107463978335" />
	<input name="p" type="hidden" value="oi" />
	<div>
		<input name="ea" type="email" name="email">
		<input type="submit" name="go" name="" value="▻">
	</div>
</form>		</div>

		<div class="large-4 large-pull-8 medium-12 columns">
			<p class="ss-social-circle ss-icon">
				<a href="https://www.facebook.com/childrenscouncil" target="_blank">Facebook</a>				<a href="https://twitter.com/childcaresf" target="_blank">Twitter</a>							</p>

			<p class="tagline">Because Child Care Matters</p>
		</div>

		<div class="large-12 medium-12 columns">
			<p>&copy; 2016 Children&#039;s Council San Francisco. All Rights Reserved. 415-276-2900.</p>
		</div>

	</div>
</footer>
	<script type='text/javascript'>
var colomatduration = 'fast';
var colomatslideEffect = 'slideFade';
</script><script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/plugins/jquery-collapse-o-matic/js/collapse.js?ver=1.5.18'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/plugins/monarch/js/idle-timer.min.js?ver=1.2.5'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var monarchSettings = {"ajaxurl":"http:\/\/ccsf.wpengine.com\/wp-admin\/admin-ajax.php","pageurl":"http:\/\/ccsf.wpengine.com\/search-providers\/","stats_nonce":"8953358955","share_counts":"460188b3b0","follow_counts":"3aedb2defd","total_counts":"99d1e780e7","media_single":"52e2584503","media_total":"365a5bf37e","generate_all_window_nonce":"a7f67b0058","no_img_message":"No images available for sharing on this page"};
/* ]]> */
</script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/plugins/monarch/js/custom.js?ver=1.2.5'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/themes/CCSF/js/foundation/foundation.js?ver=5.0.0'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/themes/CCSF/js/foundation/foundation.slider.js?ver=5.0.0'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var icl_vars = {"current_language":"en","icl_home":"http:\/\/ccsf.wpengine.com\/"};
/* ]]> */
</script>
<script type='text/javascript' src='http://ccsf.wpengine.com/wp-content/plugins/sitepress-multilingual-cms/res/js/sitepress.js?ver=4.4.2'></script>
	<script src="http://ccsf.wpengine.com/wp-content/themes/CCSF/webfonts/ss-social.js"></script>
	<script src="http://ccsf.wpengine.com/wp-content/themes/CCSF/webfonts/ss-standard.js"></script>
	</body>
</html>
