= stylesheet_link_tag "wordpress_styles", media: "all", "data-turbolinks-track" => true
= javascript_include_tag '//maps.google.com/maps/api/js?key=AIzaSyBEDS_ZhrTUaoj4x5YdIv5rhKVf8LmGz7I'
= javascript_include_tag 'application'

div ng-app="CCR"
  .loading ng-show="state_loading"

  div [ng-hide="state_loading" ui-view]

= render partial: "javascript_data_object"
