css:
    .covid-banner-wrapper {
        border: solid 9px #C5D82E;
        border-radius: 34px;
        min-height:320px;
        margin-top:20px;
        margin-bottom:30px;
        padding:35px 10px 35px 35px;
        width:118%;
    }

    .covid-banner-content {
        float:left;
        width:50%;
    }

    .covid-banner-content h4 { 
        color:#333333;
        font-size:24px;
        font-weight:bold;
        margin-bottom:19px;
        text-transform: inherit;
    }

    .covid-banner-content p { 
        color:#333333;
        font-size:16px;
        padding-right:65px;
    }

    .covid-banner-image {
        float:left;
        padding-top:30px;
        width:50%;
    }

    @media only screen and (max-width: 600px) {
        .covid-banner-wrapper, .covid-banner-content, .covid-banner-image {
            float:none;
            width: 100%;
        }
    }



.covid-banner-wrapper
    .covid-banner-content
        h4 We are here to support you, especially during these challenging times.
        p Here you can find an up to date list of San Francisco child care programs open during COVID-19. You can also see if the program has participated in a COVID-19 health and safety training.
    .covid-banner-image
        img src="http://www.childrenscouncil.org/wp-content/uploads/cc_child-playing.png"
    .cl