<h2>
  Hi <%= @parent.full_name || @parent.email %>,
</h2>
<p>
  Thanks for creating an account with Children’s Council Child Care Finder.
</p>

<h3>
  Did you know?
</h3>
<p>
  With your account you have the ability to save providers to your favorites while searching, compare providers side by side and more.
</p>

<p>
  Children's Council
</p>
