<p>Hi <%= @resource.full_name || @resource.email %>,</p>

<p>We received a request to reset your password. Please click on the link below and follow the instructions to reset your password.</p>

<p><%= link_to 'Change my password', reset_password_url(reset_token: @token) %></p>

<%= render 'shared/email_signature' %>
