<p>Hi <%= @resource.full_name %>,</p>

<p>We received a request to reset your password. Please click on the link below and follow the instructions to reset your password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

Children’s Council
